#form-container {
    margin: auto;
    top: 20px;
}

.invalid-value {
    border: 1px red solid;
}

.form-validation {
    color: red;
}

.form-error {
    display: none;
}

.loading {
    display:none;
    padding: 2px 10px; 
    background-color: #ffff4d; 
    position: absolute; 
    margin-left: 45%;
    text-align:center;
}

.notify-user {
    position:absolute;
    z-index: 1000;
    top:0px;
    width: 100%; 
    display: none;
    height: auto;
    min-height: 60px;
    padding: 5px 5px;
}